:root {
    --blue-100: #ECF2F8;
    --blue-200: #CEDEE5;
    --blue-300: #50A1C2;
    --blue-400: #07668C;
    --white: #ffffff;
    --black: #000000;
}

*, h1, h2, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--blue-100);
    gap: 30px;
}

h1 {
    margin: 0 auto;
    text-align: center;
    padding: 3%;
    color: var(--blue-400);
    font-size: 48px;
}

.searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

#no-results {
    align-self: center;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 30px;
    padding: 0 3%;
}

#searchBar {
    border: 1px solid var(--blue-200);
    border-radius: 4px;
    padding: 6px 10px;
}

#searchButton {
    background-color: var(--blue-300);
    border: none;
}

#searchButton:hover {
    background-color: var(--blue-400);
}

.btn-primary {
    background-color: var(--blue-400);
    border: none;
    font-size: 13px;
    transition: .1s all;
}

.btn-primary:hover {
    background-color: var(--blue-300);
}

#showing-results {
    font-size: 18px;
}

#search-term {
    font-weight: 700;
}

.search-item {
    background-color: var(--white);
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
    transition: .1s all;
    box-shadow: 0 0 15px hsla(197, 91%, 29%, 10%);
    }

.search-item:hover  {
    background-color: var(--blue-300);
    color: var(--white);
}

.search-item:hover .search-item__description {
    color: var(--white);
}

.search-item:hover .searchmatch {
    color: var(--white);
}

.search-item:hover .search-item__title {
    color: var(--white);
}

.search-item a {
    color: black;
}

a:hover {
    text-decoration: none;
}

.search-item__title {
    font-weight: 700;
    margin: 0;
    color: var(--blue-300);
}

.search-item__description {
    color: #000;
}

.searchmatch {
    font-weight: 700;
    color: var(--blue-300);
}

.footer {
    border-top: 1px solid var(--blue-200);
    text-align: center;
    padding: 3%;
}